<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zora Pond Tracker</title>
    <link rel="shortcut icon" href="king-zora.png">
    <style>
      body {
        background: #334;
        color: #DDE;
      }
      img {
        display: block;
        /* IE */
        -ms-interpolation-mode: nearest-neighbor;
        /* Firefox */
        image-rendering: crisp-edges;
        /* Chromium */
        image-rendering: pixelated;
        height: 49px;
      }

      .inventory-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #445;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
      }
      .inventory-item img {
        margin-bottom: 8px;
      }

      .number-field {
        display: flex;
      }
      .number-field input {
        width: 24px;
        border: 0px;
        text-align: center;
        -moz-appearance: textfield;
        appearance: textfield;
      }
      .number-field input,
      .number-field button {
        background: #BBC;
        color: #223;
      }
      .number-field button {
        border: 0px;
        font-size: 10px;
      }
      .number-field button[disabled] {
        color: #667;
      }
      .number-field button:first-of-type {
        border-radius: 8px 0px 0px 8px;
      }
      .number-field button:last-of-type {
        border-radius: 0px 8px 8px 0px;
      }

      .prize {
        display: inline-flex;
        flex-direction: column;
        background: #445;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
      }
      .prize span {
        display: flex;
        justify-content: center;
      }
      .prize-image {
        position: relative;
      }
      .prize-amount {
        position: absolute;
        bottom: 0px;
        right: 12px;
        transform: scaleX(150%);
      }
      .prize-amount img {
        height: 17px;
        filter: contrast(200%);
      }
      .offerings img {
        height: 24px;
        margin: 7px 4px 1px 4px;
      }
      .maze {
        height: 100px;
      }
    </style>
    <script src="vue3.min.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Zora Pond Item Tracker</h1>
      <h2>
        For Dungeons of Infinity
        <select v-model="version">
          <option version="1.1.6">1.1.6</option>
          <option version="1.2.0">1.2.0</option>
        </select>
      </h2>

      <h3>Your Inventory:</h3>
      <div
        v-for="(gemAmount, gemColor) in inventory.gems"
        class="inventory-item"
        :key="gemColor"
      >
        <img
          :alt="gemColor + ' colored gem'"
          :src="'sprites/gem-' + gemColor + '.png'"
        />
        <number-field v-model.number="inventory.gems[gemColor]"></number-field>
      </div>
      <inv-item v-model="inventory.bag"    alt="Inventory" :min="1" :max="3"></inv-item>
      <inv-item v-model="inventory.tunic"  alt="Tunic"     :min="1" :max="4"></inv-item>
      <inv-item v-model="inventory.sword"  alt="Sword"              :max="6"></inv-item>
      <inv-item v-model="inventory.shield" alt="Shield"             :max="4"></inv-item>
      <inv-item v-model="inventory.gloves" alt="Gloves"             :max="3"></inv-item>
      <inv-item v-model="inventory.bow"    alt="Bow"                :max="2"></inv-item>

      <h3>Possible Rewards</h3>

      <item-prize :v="inventory" a="red"    b="red"    i="heart"             ></item-prize>
      <item-prize :v="inventory" a="black"  b="black" :i="swordPrize"        ></item-prize>
      <item-prize :v="inventory" a="blue"   b="blue"  :i="inventoryPrize"    ></item-prize>
      <item-prize :v="inventory" a="black"  b="yellow" i="pendant-of-cures"  ></item-prize>
      <item-prize :v="inventory" a="black"  b="white"  i="pendant-of-revival"></item-prize>
      <item-prize :v="inventory" a="black"  b="purple" i="pendant-of-direction"></item-prize>
      <item-prize :v="inventory" a="black"  b="cyan"   i="pendant-of-protection"></item-prize>
      <item-prize :v="inventory" a="red"    b="blue"   i="cape"              ></item-prize>
      <item-prize :v="inventory" a="black"  b="green"  i="pendant-of-wealth" ></item-prize>
      <item-prize :v="inventory" a="white"  b="blue"  :i="shieldPrize"       ></item-prize>
      <item-prize :v="inventory" a="white"  b="red"   :i="glovePrize"        ></item-prize>
      <item-prize :v="inventory" a="green"  b="blue"  :i="tunicPrize"        ></item-prize>
      <item-prize :v="inventory" a="purple" b="green"  i="potion-pink"       ></item-prize>
      <item-prize :v="inventory" a="cyan"   b="blue"   i="bomb-bag"          ></item-prize>
      <item-prize :v="inventory" a="green"  b="red"    i="gem-bag"           ></item-prize>
      <item-prize :v="inventory" a="purple" b="red"    i="rod-of-hearts"     ></item-prize>
      <item-prize :v="inventory" a="green"  b="green"  i="rod-of-rupees"     ></item-prize>
      <item-prize :v="inventory" a="green"  b="white"  i="ring-of-rupees"    ></item-prize>
      <item-prize :v="inventory" a="yellow" b="blue"   i="lamp"              ></item-prize>
      <item-prize :v="inventory" a="pink"   b="blue"   i="potion-blue"       ></item-prize>
      <item-prize :v="inventory" a="white"  b="white" :i="bowPrize"          ></item-prize>
      <item-prize :v="inventory" a="cyan"   b="red"    i="quiver"            ></item-prize>
      <item-prize :v="inventory" a="purple" b="white"  i="ring-of-hearts"    ></item-prize>
      <item-prize :v="inventory" a="yellow" b="white"  i="ring-of-arrows"    ></item-prize>
      <item-prize :v="inventory" a="cyan"   b="white"  i="ring-of-bombs"     ></item-prize>
      <item-prize :v="inventory" a="cyan"   b="green"  i="rod-of-bombs"      ></item-prize>
      <item-prize :v="inventory" a="pink"   b="red"    i="potion-red"        ></item-prize>
      <item-prize :v="inventory" a="purple" b="purple" i="fairy-orb"         ></item-prize>
      <item-prize :v="inventory" a="pink"   b="white"  i="potion-white"      ></item-prize>
      <item-prize :v="inventory" a="cyan"   b="cyan"   i="ice-orb"     n="5" ></item-prize>
      <item-prize :v="inventory" a="yellow" b="yellow" i="fire-orb"    n="4" ></item-prize>
      <item-prize :v="inventory" a="black"  b="red"    i="pendant-of-health" ></item-prize>
      <item-prize :v="inventory" a="black"  b="blue"   i="pendant-of-secrets"></item-prize>
      <item-prize :v="inventory" a="black"  b="pink"   i="pendant-of-magic"  ></item-prize>
      <item-prize :v="inventory" a="purple" b="blue"   i="rod-of-ice"        ></item-prize>
      <item-prize :v="inventory" a="yellow" b="green"  i="rod-of-stone"      ></item-prize>
      <item-prize :v="inventory" a="yellow" b="red"    i="rod-of-fire"       ></item-prize>
      <item-prize :v="inventory" a="purple" b="cyan"   i="bomb"        n="10"></item-prize>
      <item-prize :v="inventory" a="pink"   b="green"  i="potion-green"      ></item-prize>
      <item-prize :v="inventory" a="yellow" b="cyan"   i="magic"       n="2" ></item-prize>
      <item-prize :v="inventory" a="pink"   b="cyan"   i="food-burger" n="2" ></item-prize>
      <item-prize :v="inventory" a="pink"   b="yellow" i="can"         n="3" ></item-prize>
      <item-prize :v="inventory" a="pink"   b="purple" i="food-muffin" n="2" ></item-prize>
      <item-prize :v="inventory" a="pink"   b="pink"   i="can"         n="2" ></item-prize>
      <item-prize :v="inventory" a="purple" b="yellow" i="arrows"      n="60"></item-prize>

      <h3>Dwarven Maze</h3>
      <a
        href="dwarven-maze.jpg"
        target="_blank"
        style="display: inline-block;"
      >
        <img src="dwarven-maze.jpg" class="maze" alt="Dwarven Maze Map">
      </a>
    </div>
    <script>
      const min = {
        type: Number,
        default: 0
      };
      const max = {
        type: Number,
        default: 999
      };
      const ItemPrize = {
        template: `
          <div v-if="valid" class="prize">
            <span v-if="i === 'rupee'">
              <img
                alt="Rupees"
                src="sprites/rupee.gif"
              >
            </span>
            <span
              v-else
              class="prize-image"
            >
              <img
                :alt="titleCase(i)"
                :src="'sprites/' + i + '.png'"
              >
              <span
                v-if="n"
                class="prize-amount"
              >
                <img
                  v-for="number in amount"
                  :alt="number"
                  :src="'sprites/' + number + '.png'"
                >
              </span>
            </span>
            <span class="offerings">
              <img
                :alt="titleCase(a + '-gem')"
                :src="'sprites/gem-' + a + '.png'"
              />
              <img
                :alt="titleCase(b + '-gem')"
                :src="'sprites/gem-' + b + '.png'"
              />
            </span>
          </div>
        `,
        props: ['a', 'b', 'i', 'v', 'n'],
        methods: {
          titleCase: function (string) {
            return string
              .split('-')
              .map((word) => {
                if (word === 'of') {
                  return word;
                }
                return (
                  word[0].toUpperCase() +
                  word.substring(1)
                );
              })
              .join(' ');
          }
        },
        computed: {
          valid: function () {
            let gem1 = this.a;
            let gem2 = this.b;
            let item = this.i;
            let inventory = this.v;
            const amount = this.n;
            const sameGem = gem1 === gem2;
            const gem1Amount = inventory.gems[gem1];
            const gem2Amount = inventory.gems[gem2];
            if (sameGem) {
              if (gem1Amount > 1) {
                return true;
              }
            } else if (gem1Amount && gem2Amount) {
              return true
            }
            return false;
          },
          amount: function () {
            return (this.n + '').split('');
          }
        }
      };
      const NumberField = {
        template: `
          <span class="number-field">
            <button
              :disabled="!(modelValue < max)"
              @click="
                modelValue < max ?
                emitAmount(modelValue + 1) :
                undefined
              "
            >▲</button>
            <input
              :value="modelValue"
              :min="min"
              :max="max"
              type="number"
              @input="emitAmount($event.target.value)"
            />
            <button
              :disabled="!(modelValue > min)"
              @click="
                modelValue > min ?
                emitAmount(modelValue - 1) :
                undefined
              "
            >▼</button>
          </span>
        `,
        props: {
          min,
          max,
          modelValue: {
            type: Number,
            required: true
          }
        },
        methods: {
          emitAmount: function (amount) {
            this.$emit('update:modelValue', amount);
          }
        }
      };
      const InvItem = {
        template: `
          <div class="inventory-item">
            <img
              :alt="alt"
              :src="'sprites/' + alt.toLowerCase() + modelValue + '.png'"
            >
            <number-field
              :modelValue="modelValue"
              :min="min"
              :max="max"
              @update:modelValue="$emit('update:modelValue', parseInt($event))"
            ></number-field>
          </div>
        `,
        components: {
          NumberField
        },
        props: {
          modelValue: {
            type: Number,
            required: true
          },
          alt: {
            type: String,
            required: true
          },
          min,
          max
        },
        emits: ['update:modelValue']
      };

      const app = Vue.createApp({
        components: {
          ItemPrize,
          InvItem,
          NumberField
        },
        data: function () {
          return {
            version: '1.1.6',
            inventory: {
              bag: 1,
              bow: 0,
              gloves: 0,
              shield: 0,
              sword: 1,
              tunic: 1,
              gems: {
                pink: 0,
                purple: 0,
                yellow: 0,
                cyan: 0,
                green: 0,
                white: 0,
                red: 0,
                blue: 0,
                black: 0
              }
            }
          };
        },
        methods: {},
        computed: {
          bowPrize: function () {
            const bowLevel = this.inventory.bow;
            if (this.version === '1.1.6') {
              if (bowLevel === 0) {
                return 'bow1';
              } else {
                return 'rupee';
              }
            }
            if (bowLevel === 2) {
              return 'rupee';
            }
            return 'bow' + (bowLevel + 1);
          },
          glovePrize: function () {
            const glovesLevel = this.inventory.gloves;
            if (glovesLevel === 3) {
              return 'rupee'
            }
            return 'gloves' + (glovesLevel + 1);
          },
          inventoryPrize: function () {
            const inventoryLevel = this.inventory.bag;
            if (inventoryLevel === 3) {
              return 'rupee';
            }
            return 'inventory' + (inventoryLevel + 1);
          },
          shieldPrize: function () {
            const shieldLevel = this.inventory.shield;
            if (shieldLevel === 4) {
              return 'rupee';
            }
            return 'shield' + (shieldLevel + 1);
          },
          swordPrize: function () {
            const swordLevel = this.inventory.sword;
            if (swordLevel === 6) {
              return 'rupee';
            }
            return 'sword' + (swordLevel + 1)
          },
          tunicPrize: function () {
            const tunicLevel = this.inventory.tunic;
            if (tunicLevel === 4) {
              return 'rupee';
            }
            return 'tunic' + (tunicLevel + 1);
          }
        }
      }).mount('#app');
    </script>
  </body>
</html>
